@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

:root {
    --default-layout-header-height: 60px;
    --default-layout-width: 1200px;
    --default-layout-horizontal-space: 24px;
    --primary-color: #fe2c55;
    --black: #000;
    --white: #fff;
    --text-color: #444444;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}

button,
input,
[tabindex] {
    border: none;
    outline: none;
}

a[href] {
    color: var(--text-color);
    text-decoration: none;
}
